flows.json
[
    {
        "id": "2b7a79b2.a62516",
        "type": "tab",
        "label": "To read",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a1569260.60935",
        "type": "tab",
        "label": "Configuration",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eef48afe.7cbc38",
        "type": "tab",
        "label": "UI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d93a2589.2e6c78",
        "type": "tab",
        "label": "HTTP",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f2965746.30b818",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b1f764b6.c1ed78",
        "type": "modbus-client",
        "z": "",
        "name": "Modbus Flex Server",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "15502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectTimeout": 2000
    },
    {
        "id": "520260a3.ec552",
        "type": "modbus-client",
        "z": "",
        "name": "Modbus Server",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "14502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectTimeout": 2000
    },
    {
        "id": "eb839a0c.c19d68",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt.flespi.io",
        "port": "8883",
        "tls": "7e007c18.423724",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "devices/unipi/0014/status",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "connected",
        "closeTopic": "devices/unipi/0014/status",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "disconnected (exp)",
        "willTopic": "devices/unipi/0014/status",
        "willQos": "1",
        "willRetain": "true",
        "willPayload": "disconnected (unexp)"
    },
    {
        "id": "1d7d1495.d3f02b",
        "type": "websocket-client",
        "path": "ws://127.0.0.1/ws",
        "wholemsg": "false"
    },
    {
        "id": "cecb17dc.66cab8",
        "type": "websocket-client",
        "path": "ws://127.0.0.1/ws",
        "wholemsg": "false"
    },
    {
        "id": "dc5bc0ed.dae27",
        "type": "mqtt-broker",
        "broker": "iot.eclipse.org",
        "port": "1883",
        "clientid": ""
    },
    {
        "id": "9db9e6bb.4dcd68",
        "type": "unipi",
        "z": "",
        "name": "",
        "host": "127.0.0.1",
        "restPort": "80",
        "wsPort": "8080"
    },
    {
        "id": "e32627b9.0a32a8",
        "type": "unipi",
        "z": "",
        "name": "unipi1",
        "host": "127.0.0.1",
        "restPort": "8080",
        "wsPort": "8080"
    },
    {
        "id": "bc0bf1db.c6c0c",
        "type": "modbus-client",
        "z": "",
        "name": "ModbusTCP",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectTimeout": "2000"
    },
    {
        "id": "4ea9c3c8.2ea06c",
        "type": "mbus-client",
        "z": "",
        "name": "",
        "clienttype": "serial",
        "tcpHost": "127.0.0.1",
        "tcpPort": "10001",
        "tcpTimeout": "4000",
        "serialPort": "/dev/extcomm/1/0",
        "serialBaudrate": "2400",
        "reconnectTimeout": "10000",
        "autoScan": true,
        "storeDevices": true,
        "disableLogs": true
    },
    {
        "id": "9e7545a9.ee8d08",
        "type": "mbus-client",
        "z": "",
        "name": "local",
        "clienttype": "serial",
        "tcpHost": "127.0.0.1",
        "tcpPort": "2000",
        "serialPort": "/dev/ttyUSB0",
        "serialBaudrate": "2400",
        "reconnectTimeout": "10000",
        "autoScan": true,
        "storeDevices": true,
        "disableLogs": true
    },
    {
        "id": "95c6631e.7da56",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "57b235df.5d13cc",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#1395c6",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#1395c6",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#1395c6",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#39bbec",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#1395c6",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "56bfbc9a.ebf6b4",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/extcomm/0/0",
        "serialbaud": "2400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false,
        "responsetimeout": "10000"
    },
    {
        "id": "39a233c6.16bd0c",
        "type": "modbus-client",
        "z": "",
        "name": "",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectTimeout": 2000
    },
    {
        "id": "c0249855.447748",
        "type": "modbus-client",
        "z": "",
        "name": "RS485",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/extcomm/0/0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "even",
        "serialConnectionDelay": "500",
        "unit_id": "2",
        "commandDelay": "20",
        "clientTimeout": "1000",
        "reconnectTimeout": "2000"
    },
    {
        "id": "8cc2389d.9fdbe8",
        "type": "ui_group",
        "z": "",
        "name": "Read",
        "tab": "95c6631e.7da56",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "d15a8bf0.8f2b78",
        "type": "ui_group",
        "z": "",
        "name": "System",
        "tab": "95c6631e.7da56",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a203973d.f51e68",
        "type": "ui_group",
        "z": "",
        "name": "Real time",
        "tab": "95c6631e.7da56",
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "7e007c18.423724",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true
    },
    {
        "id": "3dbdccd1.ac5894",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1881",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b63ec7e7.2364b8",
        "type": "debug",
        "z": "a1569260.60935",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 790,
        "y": 520,
        "wires": []
    },
    {
        "id": "c29accf9.6f8cb",
        "type": "inject",
        "z": "a1569260.60935",
        "name": "Get UniPI SN",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 520,
        "wires": [
            [
                "4af6e07e.b787c"
            ]
        ]
    },
    {
        "id": "4af6e07e.b787c",
        "type": "http request",
        "z": "a1569260.60935",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "127.0.0.1:8080/json/neuron/1",
        "tls": "",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "d0ee69b7.381078"
            ]
        ]
    },
    {
        "id": "d0ee69b7.381078",
        "type": "change",
        "z": "a1569260.60935",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.sn",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 520,
        "wires": [
            [
                "b63ec7e7.2364b8"
            ]
        ]
    },
    {
        "id": "89b46017.3bb88",
        "type": "comment",
        "z": "a1569260.60935",
        "name": "Get UniPi's SN",
        "info": "",
        "x": 160,
        "y": 480,
        "wires": []
    },
    {
        "id": "40fd2090.cc3e5",
        "type": "http request",
        "z": "a1569260.60935",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "127.0.0.1:8080/json/relay/1_04",
        "tls": "",
        "x": 370,
        "y": 700,
        "wires": [
            [
                "a9e06cc8.0b88c"
            ]
        ]
    },
    {
        "id": "b6258dfb.7aa46",
        "type": "inject",
        "z": "a1569260.60935",
        "name": "Set 1",
        "topic": "",
        "payload": "{\"value\":\"1\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 700,
        "wires": [
            [
                "40fd2090.cc3e5"
            ]
        ]
    },
    {
        "id": "33788b05.4a2964",
        "type": "inject",
        "z": "a1569260.60935",
        "name": "Set 0",
        "topic": "",
        "payload": "{\"value\":\"0\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 740,
        "wires": [
            [
                "40fd2090.cc3e5"
            ]
        ]
    },
    {
        "id": "a9e06cc8.0b88c",
        "type": "debug",
        "z": "a1569260.60935",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 570,
        "y": 700,
        "wires": []
    },
    {
        "id": "2ee1146.42375ec",
        "type": "comment",
        "z": "a1569260.60935",
        "name": "Set UniPi's output (LED)",
        "info": "",
        "x": 190,
        "y": 660,
        "wires": []
    },
    {
        "id": "bfb0dd22.72a87",
        "type": "inject",
        "z": "eef48afe.7cbc38",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "1b2857c4.dd5df8",
                "43fd6889.e0a428",
                "243c272f.7c6298",
                "7e104e24.332b5",
                "83495e81.60ba6",
                "9107d56b.c034e8",
                "fa54d80f.ee8098",
                "ce5b160a.c400d8",
                "953e0fb0.b2c9b",
                "836d3b17.0a61d8"
            ]
        ]
    },
    {
        "id": "1b2857c4.dd5df8",
        "type": "ui_text_input",
        "z": "eef48afe.7cbc38",
        "name": "unitid",
        "label": "Unit ID",
        "group": "8cc2389d.9fdbe8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "1",
        "topic": "unitid",
        "x": 490,
        "y": 400,
        "wires": [
            [
                "be91b156.eac2"
            ]
        ]
    },
    {
        "id": "43fd6889.e0a428",
        "type": "ui_text_input",
        "z": "eef48afe.7cbc38",
        "name": "address",
        "label": "Address (start register)",
        "group": "8cc2389d.9fdbe8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "1",
        "topic": "address",
        "x": 500,
        "y": 440,
        "wires": [
            [
                "be91b156.eac2"
            ]
        ]
    },
    {
        "id": "243c272f.7c6298",
        "type": "ui_text_input",
        "z": "eef48afe.7cbc38",
        "name": "quantity",
        "label": "Quantity (# of registers to read)",
        "group": "8cc2389d.9fdbe8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "1",
        "topic": "quantity",
        "x": 500,
        "y": 480,
        "wires": [
            [
                "be91b156.eac2"
            ]
        ]
    },
    {
        "id": "7e104e24.332b5",
        "type": "ui_dropdown",
        "z": "eef48afe.7cbc38",
        "name": "fc",
        "label": "Function code",
        "place": "Select option",
        "group": "8cc2389d.9fdbe8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "fc",
        "x": 490,
        "y": 360,
        "wires": [
            [
                "be91b156.eac2"
            ]
        ]
    },
    {
        "id": "be91b156.eac2",
        "type": "function",
        "z": "eef48afe.7cbc38",
        "name": "",
        "func": "// if values don't exist, create it\ncontext.read_fc = context.read_fc || \"3\";\ncontext.read_unitid = context.read_unitid || \"1\";\ncontext.read_address = context.read_address || \"0\";\ncontext.read_quantity = context.read_quantity || \"2\";\ncontext.read_datatype = context.read_datatype || \"float\";\n\nif (msg.topic == \"fc\") {\n    context.read_fc = msg.payload;\n}\nelse if(msg.topic == \"unitid\") {\n    context.read_unitid = msg.payload;\n}\nelse if(msg.topic == \"address\") {\n    context.read_address = msg.payload;\n}\nelse if(msg.topic == \"quantity\") {\n    context.read_quantity = msg.payload;\n}\nelse if(msg.topic == \"datatype\") {\n    flow.set(\"read_datatype\", msg.payload);\n}\n\n\n    // 'datatype': context.read_datatype,\n\nmsg.payload = \n{ \n    'fc': context.read_fc, \n    'unitid': context.read_unitid, \n    'address': context.read_address, \n    'quantity': context.read_quantity,\n} \n\nif(msg.topic == \"trigger_read\") {\n    return msg;\n}\n//else if(msg.topic == \"trigger_write\") {\n//    return [ null, msg ];\n//}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 360,
        "wires": [
            [
                "561bb0d8.85ba",
                "8ccbb8aa.abf5f8",
                "977ece0.38bf53"
            ]
        ],
        "outputLabels": [
            "Read"
        ]
    },
    {
        "id": "561bb0d8.85ba",
        "type": "debug",
        "z": "eef48afe.7cbc38",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 950,
        "y": 320,
        "wires": []
    },
    {
        "id": "83495e81.60ba6",
        "type": "ui_button",
        "z": "eef48afe.7cbc38",
        "name": "",
        "group": "8cc2389d.9fdbe8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Read",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "trigger_read",
        "x": 490,
        "y": 560,
        "wires": [
            [
                "be91b156.eac2"
            ]
        ]
    },
    {
        "id": "8ccbb8aa.abf5f8",
        "type": "modbus-flex-getter",
        "z": "eef48afe.7cbc38",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "c0249855.447748",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 970,
        "y": 360,
        "wires": [
            [],
            [
                "b8e85310.aded",
                "9e301a5.74a86e8"
            ]
        ]
    },
    {
        "id": "b8e85310.aded",
        "type": "function",
        "z": "eef48afe.7cbc38",
        "name": "",
        "func": "let val = 0;\ndatatype = flow.get(\"read_datatype\");\n\nif (datatype == \"int32\") {\n    val = msg.payload.buffer.readInt32BE(0,4);\n} else if (datatype == \"float\") {\n    val = msg.payload.buffer.readFloatBE(0,4);\n} else if (datatype == \"hex\") {\n    val = msg.payload.buffer.toString('hex');\n}\n\n// let met = msg.input.payload.meterid;\n// let sui = msg.input.payload.address;\n\nmsg.payload = val;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1230,
        "y": 360,
        "wires": [
            [
                "1c4a071.7a869f9",
                "3922637.e0cd09c"
            ]
        ]
    },
    {
        "id": "1c4a071.7a869f9",
        "type": "ui_text",
        "z": "eef48afe.7cbc38",
        "group": "8cc2389d.9fdbe8",
        "order": 7,
        "width": "8",
        "height": "1",
        "name": "",
        "label": "Value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1370,
        "y": 360,
        "wires": []
    },
    {
        "id": "3bc27321.fc83bc",
        "type": "exec",
        "z": "a1569260.60935",
        "command": "sudo shutdown -r now",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": true,
        "name": "",
        "x": 620,
        "y": 940,
        "wires": [
            [
                "bdfd30be.40d2"
            ],
            [
                "13cc53a7.2bf30c"
            ],
            [
                "4220bbd7.df31b4"
            ]
        ]
    },
    {
        "id": "97dba4de.5420f8",
        "type": "inject",
        "z": "a1569260.60935",
        "name": "Reboot",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 940,
        "wires": [
            [
                "3bc27321.fc83bc"
            ]
        ]
    },
    {
        "id": "bdfd30be.40d2",
        "type": "debug",
        "z": "a1569260.60935",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 910,
        "y": 920,
        "wires": []
    },
    {
        "id": "13cc53a7.2bf30c",
        "type": "debug",
        "z": "a1569260.60935",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 910,
        "y": 960,
        "wires": []
    },
    {
        "id": "4220bbd7.df31b4",
        "type": "debug",
        "z": "a1569260.60935",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 910,
        "y": 1000,
        "wires": []
    },
    {
        "id": "9107d56b.c034e8",
        "type": "ui_dropdown",
        "z": "eef48afe.7cbc38",
        "name": "datatype",
        "label": "Data type",
        "place": "Select option",
        "group": "8cc2389d.9fdbe8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "Int32 BE",
                "value": "int32",
                "type": "str"
            },
            {
                "label": "Float BE",
                "value": "float",
                "type": "str"
            },
            {
                "label": "Raw HEX",
                "value": "hex",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "datatype",
        "x": 500,
        "y": 520,
        "wires": [
            [
                "be91b156.eac2"
            ]
        ]
    },
    {
        "id": "9e301a5.74a86e8",
        "type": "debug",
        "z": "eef48afe.7cbc38",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1230,
        "y": 320,
        "wires": []
    },
    {
        "id": "3922637.e0cd09c",
        "type": "debug",
        "z": "eef48afe.7cbc38",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1370,
        "y": 400,
        "wires": []
    },
    {
        "id": "977ece0.38bf53",
        "type": "ui_text",
        "z": "eef48afe.7cbc38",
        "group": "8cc2389d.9fdbe8",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Request",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 940,
        "y": 420,
        "wires": []
    },
    {
        "id": "fa54d80f.ee8098",
        "type": "ui_button",
        "z": "eef48afe.7cbc38",
        "name": "",
        "group": "d15a8bf0.8f2b78",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reboot",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 500,
        "y": 700,
        "wires": [
            [
                "6c682666.7d7ef8"
            ]
        ]
    },
    {
        "id": "6c682666.7d7ef8",
        "type": "link out",
        "z": "eef48afe.7cbc38",
        "name": "Reboot",
        "links": [
            "94bfae73.a69de"
        ],
        "x": 715,
        "y": 700,
        "wires": []
    },
    {
        "id": "94bfae73.a69de",
        "type": "link in",
        "z": "a1569260.60935",
        "name": "",
        "links": [
            "6c682666.7d7ef8"
        ],
        "x": 175,
        "y": 900,
        "wires": [
            [
                "3bc27321.fc83bc"
            ]
        ]
    },
    {
        "id": "ce5b160a.c400d8",
        "type": "ui_button",
        "z": "eef48afe.7cbc38",
        "name": "",
        "group": "d15a8bf0.8f2b78",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Open ngrok SSH",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 530,
        "y": 740,
        "wires": [
            [
                "ee717e70.92ae"
            ]
        ]
    },
    {
        "id": "953e0fb0.b2c9b",
        "type": "ui_button",
        "z": "eef48afe.7cbc38",
        "name": "",
        "group": "d15a8bf0.8f2b78",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Kill ngrok SSH",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 520,
        "y": 780,
        "wires": [
            [
                "1c505c7c.9ecd34"
            ]
        ]
    },
    {
        "id": "ee717e70.92ae",
        "type": "link out",
        "z": "eef48afe.7cbc38",
        "name": "Open ngrok",
        "links": [
            "c03ffb31.4f9cd8"
        ],
        "x": 715,
        "y": 740,
        "wires": []
    },
    {
        "id": "1c505c7c.9ecd34",
        "type": "link out",
        "z": "eef48afe.7cbc38",
        "name": "Kill ngrok",
        "links": [
            "8ddc30eb.d122d"
        ],
        "x": 715,
        "y": 780,
        "wires": []
    },
    {
        "id": "836d3b17.0a61d8",
        "type": "http request",
        "z": "eef48afe.7cbc38",
        "name": "SN",
        "method": "GET",
        "ret": "obj",
        "url": "127.0.0.1:8080/json/neuron/1",
        "tls": "",
        "x": 490,
        "y": 660,
        "wires": [
            [
                "9aa70d91.bcbbb"
            ]
        ]
    },
    {
        "id": "9aa70d91.bcbbb",
        "type": "change",
        "z": "eef48afe.7cbc38",
        "name": "SN",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.sn",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 660,
        "wires": [
            [
                "fc81e9c5.f549a8"
            ]
        ]
    },
    {
        "id": "fc81e9c5.f549a8",
        "type": "ui_text",
        "z": "eef48afe.7cbc38",
        "group": "d15a8bf0.8f2b78",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UniPi SN",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 760,
        "y": 660,
        "wires": []
    },
    {
        "id": "cd37cf91.0be31",
        "type": "ui_text",
        "z": "eef48afe.7cbc38",
        "group": "d15a8bf0.8f2b78",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "ngrok status",
        "label": "ngrok status",
        "format": "{{msg.status.text}}",
        "layout": "row-spread",
        "x": 710,
        "y": 820,
        "wires": []
    },
    {
        "id": "5912e0d3.dc5c3",
        "type": "link in",
        "z": "eef48afe.7cbc38",
        "name": "ngrok status",
        "links": [
            "eddf1814.12a368"
        ],
        "x": 455,
        "y": 820,
        "wires": [
            [
                "cd37cf91.0be31"
            ]
        ]
    },
    {
        "id": "ca2bb67b.d63a58",
        "type": "ui_text",
        "z": "eef48afe.7cbc38",
        "group": "d15a8bf0.8f2b78",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "modbus status",
        "label": "Modbus status",
        "format": "{{msg.status.text}}",
        "layout": "row-spread",
        "x": 720,
        "y": 860,
        "wires": []
    },
    {
        "id": "699575e8.08586c",
        "type": "link in",
        "z": "eef48afe.7cbc38",
        "name": "ngrok status",
        "links": [
            "4b3f19ae.313b98"
        ],
        "x": 455,
        "y": 860,
        "wires": [
            [
                "ca2bb67b.d63a58"
            ]
        ]
    },
    {
        "id": "27774aa0.975216",
        "type": "http request",
        "z": "d93a2589.2e6c78",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://api.mericitechnologie.cz/readings/1e93b77a-64df-42b1-844d-55d1e124a548",
        "tls": "",
        "x": 1250,
        "y": 240,
        "wires": [
            [
                "b61ac89b.f27b78",
                "e2de9695.480fd8"
            ]
        ]
    },
    {
        "id": "ace60965.062c28",
        "type": "modbus-flex-getter",
        "z": "d93a2589.2e6c78",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "c0249855.447748",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 370,
        "y": 240,
        "wires": [
            [],
            [
                "b85ea2cb.450bb",
                "327dd5ee.b933aa"
            ]
        ]
    },
    {
        "id": "b85ea2cb.450bb",
        "type": "function",
        "z": "d93a2589.2e6c78",
        "name": "Extract 32bit",
        "func": "if (msg.input.payload.value.datatype == \"int32\") {\n    val = msg.payload.buffer.readInt32BE(0,4);\n} else if (msg.input.payload.value.datatype == \"float\") {\n    val = msg.payload.buffer.readFloatBE(0,4);\n} else if (msg.input.payload.value.datatype == \"hex\") {\n    val = msg.payload.buffer.toString('hex');\n}\n\nlet met = msg.input.payload.value.meterid;\nlet sui = msg.input.payload.address;\n\nmsg = {};\n\nmsg.payload = \n{\n    'value': val,\n    'time': Date.now(),\n    'meterid': met,\n    'suit': sui,\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 240,
        "wires": [
            [
                "4e8efae5.5a88a4",
                "77b0d028.4cdc1"
            ]
        ]
    },
    {
        "id": "fb2a5208.801f3",
        "type": "debug",
        "z": "d93a2589.2e6c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1030,
        "y": 300,
        "wires": []
    },
    {
        "id": "4e8efae5.5a88a4",
        "type": "function",
        "z": "d93a2589.2e6c78",
        "name": "Prepare HTTP request",
        "func": "// PAYLOAD EXAMPLE:\n// msg.payload = {\n//     \"value\": 0.131,\n//     \"time\": 1542296316217,\n//     \"meterid\": 73130497,\n//     \"suit\": 23,\n// };\n\nincoming_message = msg.payload;\nmsg = {};\n\n\nISOtimeObj = new Date(incoming_message.time);\nISOtime = ISOtimeObj.toISOString();\n\nmsg.headers = {\n    'Content-Type': 'application/vnd.api+json',\n    'Authorization': 'Bearer: eyJhbGciOiJFUzI1NiJ9.eyJqaXQiOiJiODAzMWQ5MTM0MDNkNWJmIiwic2NwIjoibGEiLCJ2ZXIiOjEsInN1YiI6IjFlOTNiNzdhLTY0ZGYtNDJiMS04NDRkLTU1ZDFlMTI0YTU0OCJ9.lbvlr-5HDhxDDufGDszkrgIqjwydWcFWbZBOX_1lpzD42V2Wsf00NvCqzMeWja1ZHKqKoRfVtK23O-7e-jvobA',\n    'Accept': 'application/vnd.api+json'\n}\n\nmsg.payload = {\n    \"data\": {\n        \"time\": ISOtime,\n        \"state\": incoming_message.value,\n        \"meter_id\": incoming_message.meterid.toString(),\n        \"sender\": \"unipi\",\n        \"suit\": incoming_message.suit.toString()\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 240,
        "wires": [
            [
                "fb2a5208.801f3",
                "15fe7fbc.a38ca"
            ]
        ]
    },
    {
        "id": "77b0d028.4cdc1",
        "type": "debug",
        "z": "d93a2589.2e6c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 770,
        "y": 300,
        "wires": []
    },
    {
        "id": "b61ac89b.f27b78",
        "type": "debug",
        "z": "d93a2589.2e6c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1430,
        "y": 300,
        "wires": []
    },
    {
        "id": "327dd5ee.b933aa",
        "type": "debug",
        "z": "d93a2589.2e6c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "a1d27e9d.39074",
        "type": "link in",
        "z": "eef48afe.7cbc38",
        "name": "HTTP requests in last hour",
        "links": [
            "3db28c.db6a0d74",
            "23f094d9.5a85ac",
            "9a2e24b4.64f0a8"
        ],
        "x": 455,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "e2de9695.480fd8",
        "type": "switch",
        "z": "d93a2589.2e6c78",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "201",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1430,
        "y": 180,
        "wires": [
            [
                "bcc7f58d.bec918",
                "267d7d74.07bab2"
            ],
            [
                "5ecb5030.ef29",
                "c8e3c8e.5e5b738"
            ]
        ]
    },
    {
        "id": "bcc7f58d.bec918",
        "type": "msg-speed",
        "z": "d93a2589.2e6c78",
        "name": "",
        "frequency": "hour",
        "estimation": true,
        "ignore": false,
        "x": 1650,
        "y": 100,
        "wires": [
            [
                "78db402b.83ff3"
            ],
            []
        ]
    },
    {
        "id": "5ecb5030.ef29",
        "type": "msg-speed",
        "z": "d93a2589.2e6c78",
        "name": "",
        "frequency": "hour",
        "estimation": true,
        "ignore": false,
        "x": 1650,
        "y": 140,
        "wires": [
            [
                "9a881d8c.6a0e3"
            ],
            []
        ]
    },
    {
        "id": "78db402b.83ff3",
        "type": "change",
        "z": "d93a2589.2e6c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "'201'",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1850,
        "y": 100,
        "wires": [
            [
                "23f094d9.5a85ac"
            ]
        ]
    },
    {
        "id": "9a881d8c.6a0e3",
        "type": "change",
        "z": "d93a2589.2e6c78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "'not 201'",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1850,
        "y": 140,
        "wires": [
            [
                "23f094d9.5a85ac"
            ]
        ]
    },
    {
        "id": "23f094d9.5a85ac",
        "type": "link out",
        "z": "d93a2589.2e6c78",
        "name": "HTTP requests in last hour",
        "links": [
            "a1d27e9d.39074"
        ],
        "x": 1955,
        "y": 100,
        "wires": []
    },
    {
        "id": "267d7d74.07bab2",
        "type": "debug",
        "z": "d93a2589.2e6c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1630,
        "y": 60,
        "wires": []
    },
    {
        "id": "c8e3c8e.5e5b738",
        "type": "debug",
        "z": "d93a2589.2e6c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1630,
        "y": 180,
        "wires": []
    },
    {
        "id": "15fe7fbc.a38ca",
        "type": "delay",
        "z": "d93a2589.2e6c78",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1050,
        "y": 240,
        "wires": [
            [
                "27774aa0.975216"
            ]
        ]
    },
    {
        "id": "39ba2d2.9d0cad2",
        "type": "modbus-flex-getter",
        "z": "f2965746.30b818",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "c0249855.447748",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 350,
        "y": 100,
        "wires": [
            [],
            [
                "981ed6a0.83a1d8",
                "437143fa.17bbac"
            ]
        ]
    },
    {
        "id": "981ed6a0.83a1d8",
        "type": "function",
        "z": "f2965746.30b818",
        "name": "Extract 32bit",
        "func": "if (msg.input.payload.value.datatype == \"int32\") {\n    val = msg.payload.buffer.readInt32BE(0,4);\n} else if (msg.input.payload.value.datatype == \"float\") {\n    val = msg.payload.buffer.readFloatBE(0,4);\n} else if (msg.input.payload.value.datatype == \"hex\") {\n    val = msg.payload.buffer.toString('hex');\n}\n\nlet met = msg.input.payload.value.meterid;\nlet sui = msg.input.payload.address;\n\nmsg = {};\n\nmsg.payload = \n{\n    'value': val,\n    'time': Date.now(),\n    'meterid': met,\n    'suit': sui\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "12d65ecc.714c31",
                "cbe8f91a.c27c58"
            ]
        ]
    },
    {
        "id": "d8d2d2fc.c00cf",
        "type": "debug",
        "z": "f2965746.30b818",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1010,
        "y": 160,
        "wires": []
    },
    {
        "id": "12d65ecc.714c31",
        "type": "function",
        "z": "f2965746.30b818",
        "name": "Prepare MQTT",
        "func": "incoming_message = msg.payload;\nmsg = {};\n\n\ncust_uuid = global.get('cust_uuid');\n\nsuit = incoming_message.suit.toString();\nmeter_id = incoming_message.meterid.toString();\n\nmsg.payload = {\n    \"time\": incoming_message.time,\n    \"state\": incoming_message.value,\n}\n\nmsg.topic = 'data_point/' + cust_uuid + '/' + meter_id + '/' + suit;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 100,
        "wires": [
            [
                "d8d2d2fc.c00cf",
                "2483fc0d.9b3d64"
            ]
        ]
    },
    {
        "id": "cbe8f91a.c27c58",
        "type": "debug",
        "z": "f2965746.30b818",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "437143fa.17bbac",
        "type": "debug",
        "z": "f2965746.30b818",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "2483fc0d.9b3d64",
        "type": "mqtt out",
        "z": "f2965746.30b818",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "eb839a0c.c19d68",
        "x": 1010,
        "y": 100,
        "wires": []
    },
    {
        "id": "8d3d2389.337eb",
        "type": "status",
        "z": "f2965746.30b818",
        "name": "",
        "scope": [
            "2483fc0d.9b3d64"
        ],
        "x": 1000,
        "y": 240,
        "wires": [
            [
                "f207e00c.030f8",
                "c0b6d4fa.09b7f8"
            ]
        ]
    },
    {
        "id": "f207e00c.030f8",
        "type": "link out",
        "z": "f2965746.30b818",
        "name": "MQTT status",
        "links": [
            "de6d15b4.c23418"
        ],
        "x": 1135,
        "y": 240,
        "wires": []
    },
    {
        "id": "de6d15b4.c23418",
        "type": "link in",
        "z": "eef48afe.7cbc38",
        "name": "ngrok status",
        "links": [
            "f207e00c.030f8"
        ],
        "x": 455,
        "y": 900,
        "wires": [
            [
                "88aee82.c8fec18",
                "cca5f100.d9a9b"
            ]
        ]
    },
    {
        "id": "88aee82.c8fec18",
        "type": "ui_text",
        "z": "eef48afe.7cbc38",
        "group": "d15a8bf0.8f2b78",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "mqtt status",
        "label": "MQTT status",
        "format": "{{msg.status.text}}",
        "layout": "row-spread",
        "x": 710,
        "y": 900,
        "wires": []
    },
    {
        "id": "30e48c1d.09e7b4",
        "type": "ui_chart",
        "z": "eef48afe.7cbc38",
        "name": "",
        "group": "a203973d.f51e68",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 810,
        "y": 940,
        "wires": [
            [
                "540f566f.fd1518"
            ],
            []
        ]
    },
    {
        "id": "c0b6d4fa.09b7f8",
        "type": "debug",
        "z": "f2965746.30b818",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1170,
        "y": 280,
        "wires": []
    },
    {
        "id": "cca5f100.d9a9b",
        "type": "function",
        "z": "eef48afe.7cbc38",
        "name": "",
        "func": "if (msg.topic != \"ticker\") {\n    if (msg.status.text == \"node-red:common.status.connected\") {\n        context.mqttstatus = '1';\n    } else {\n        context.mqttstatus = '0';\n    }\n} else {\n    msg = {\n        'payload' : context.mqttstatus,\n    }\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 940,
        "wires": [
            [
                "30e48c1d.09e7b4",
                "3b064865.351488"
            ]
        ]
    },
    {
        "id": "3b064865.351488",
        "type": "debug",
        "z": "eef48afe.7cbc38",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 980,
        "wires": []
    },
    {
        "id": "7cc3e06b.db98f",
        "type": "inject",
        "z": "eef48afe.7cbc38",
        "name": "ticker",
        "topic": "ticker",
        "payload": "",
        "payloadType": "str",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 490,
        "y": 940,
        "wires": [
            [
                "cca5f100.d9a9b"
            ]
        ]
    },
    {
        "id": "540f566f.fd1518",
        "type": "debug",
        "z": "eef48afe.7cbc38",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1010,
        "y": 980,
        "wires": []
    },
    {
        "id": "98966a8c.df52e8",
        "type": "function",
        "z": "a1569260.60935",
        "name": "",
        "func": "if (msg.payload == \"kill\") {\n    return {\"kill\":\"\"};\n} else if (!isNaN(msg.payload)) {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 1180,
        "wires": [
            [
                "d98300b0.15bfd"
            ]
        ]
    },
    {
        "id": "d98300b0.15bfd",
        "type": "exec",
        "z": "a1569260.60935",
        "command": "lt -p",
        "addpay": true,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": true,
        "name": "localtunnel",
        "x": 610,
        "y": 1180,
        "wires": [
            [
                "180c06c7.e2b1a9",
                "25ccc5b8.de24fa"
            ],
            [],
            []
        ]
    },
    {
        "id": "180c06c7.e2b1a9",
        "type": "debug",
        "z": "a1569260.60935",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 970,
        "y": 1140,
        "wires": []
    },
    {
        "id": "25ccc5b8.de24fa",
        "type": "mqtt out",
        "z": "a1569260.60935",
        "name": "",
        "topic": "devices/unipi/0014/localtunnel/status",
        "qos": "1",
        "retain": "false",
        "broker": "eb839a0c.c19d68",
        "x": 1050,
        "y": 1180,
        "wires": []
    },
    {
        "id": "481396e4.3b0fa8",
        "type": "mqtt in",
        "z": "a1569260.60935",
        "name": "",
        "topic": "devices/unipi/0014/localtunnel/control",
        "qos": "1",
        "broker": "eb839a0c.c19d68",
        "x": 250,
        "y": 1180,
        "wires": [
            [
                "98966a8c.df52e8"
            ]
        ]
    },
    {
        "id": "3f3b25bc.736daa",
        "type": "debug",
        "z": "a1569260.60935",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 790,
        "y": 620,
        "wires": []
    },
    {
        "id": "dee6e0e.58c7d2",
        "type": "inject",
        "z": "a1569260.60935",
        "name": "Get PI temperature",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 620,
        "wires": [
            [
                "4f591980.fe1568"
            ]
        ]
    },
    {
        "id": "4f591980.fe1568",
        "type": "exec",
        "z": "a1569260.60935",
        "command": "/opt/vc/bin/vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "measure_temp",
        "x": 380,
        "y": 620,
        "wires": [
            [
                "3f3b25bc.736daa"
            ],
            [],
            []
        ]
    },
    {
        "id": "36fbbfda.2b69e",
        "type": "function",
        "z": "a1569260.60935",
        "name": "",
        "func": "if (msg.payload == \"kill\") {\n    return {\"kill\":\"\"};\n} else {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 1420,
        "wires": [
            [
                "5f7d0de8.cd4794"
            ]
        ]
    },
    {
        "id": "829c8dbc.0008d",
        "type": "debug",
        "z": "a1569260.60935",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 970,
        "y": 1380,
        "wires": []
    },
    {
        "id": "ad815a01.16a668",
        "type": "mqtt out",
        "z": "a1569260.60935",
        "name": "",
        "topic": "devices/unipi/0014/ngrok/status",
        "qos": "1",
        "retain": "false",
        "broker": "eb839a0c.c19d68",
        "x": 1030,
        "y": 1420,
        "wires": []
    },
    {
        "id": "b5346178.99c03",
        "type": "mqtt in",
        "z": "a1569260.60935",
        "name": "",
        "topic": "devices/unipi/0014/ngrok/control",
        "qos": "1",
        "broker": "eb839a0c.c19d68",
        "x": 230,
        "y": 1420,
        "wires": [
            [
                "36fbbfda.2b69e"
            ]
        ]
    },
    {
        "id": "5f7d0de8.cd4794",
        "type": "exec",
        "z": "a1569260.60935",
        "command": " ./ngrok tcp ",
        "addpay": true,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": true,
        "name": "NGROK exec",
        "x": 620,
        "y": 1420,
        "wires": [
            [
                "ad815a01.16a668",
                "829c8dbc.0008d"
            ],
            [],
            []
        ]
    },
    {
        "id": "cc0973f.4ae339",
        "type": "comment",
        "z": "a1569260.60935",
        "name": "Get UniPi's temperature",
        "info": "",
        "x": 180,
        "y": 580,
        "wires": []
    },
    {
        "id": "dfef44f2.11f8e8",
        "type": "comment",
        "z": "a1569260.60935",
        "name": "Open tunnel thru ngrok. In ngrok admin, IP+port can be obtained. USAGE: send `[protocol] [port_number]` e.g. `tcp 22` to specified topic",
        "info": "",
        "x": 550,
        "y": 1340,
        "wires": []
    },
    {
        "id": "8e90f4b8.391958",
        "type": "comment",
        "z": "a1569260.60935",
        "name": "Open tunnel thru localtunnel. URL is returned to `/status` topic. USAGE: send `[port_number]` to specified topic",
        "info": "",
        "x": 470,
        "y": 1100,
        "wires": []
    },
    {
        "id": "1dc3eb53.2dab05",
        "type": "status",
        "z": "a1569260.60935",
        "name": "",
        "scope": [
            "5f7d0de8.cd4794"
        ],
        "x": 600,
        "y": 1480,
        "wires": [
            [
                "7a2dd4d7.8c086c"
            ]
        ]
    },
    {
        "id": "b1712487.c7c898",
        "type": "status",
        "z": "a1569260.60935",
        "name": "",
        "scope": [
            "d98300b0.15bfd"
        ],
        "x": 600,
        "y": 1240,
        "wires": [
            [
                "f68aef22.0758a"
            ]
        ]
    },
    {
        "id": "5e240959.224028",
        "type": "mqtt in",
        "z": "a1569260.60935",
        "name": "",
        "topic": "devices/unipi/0014/reboot",
        "qos": "1",
        "broker": "eb839a0c.c19d68",
        "x": 210,
        "y": 980,
        "wires": [
            [
                "e7aaec57.055a5"
            ]
        ]
    },
    {
        "id": "f68aef22.0758a",
        "type": "function",
        "z": "a1569260.60935",
        "name": "",
        "func": "msg.payload = msg.status.text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 1240,
        "wires": [
            [
                "25ccc5b8.de24fa",
                "180c06c7.e2b1a9"
            ]
        ]
    },
    {
        "id": "7a2dd4d7.8c086c",
        "type": "function",
        "z": "a1569260.60935",
        "name": "",
        "func": "msg.payload = msg.status.text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 1480,
        "wires": [
            [
                "829c8dbc.0008d",
                "ad815a01.16a668"
            ]
        ]
    },
    {
        "id": "e2cd2e55.14ed8",
        "type": "link in",
        "z": "d93a2589.2e6c78",
        "name": "Modbus + HTTP",
        "links": [
            "19b5ca73.2721d6"
        ],
        "x": 155,
        "y": 240,
        "wires": [
            [
                "ace60965.062c28"
            ]
        ]
    },
    {
        "id": "63cc8aa8.e3dbf4",
        "type": "function",
        "z": "2b7a79b2.a62516",
        "name": "Unit 2",
        "func": "//{ \n//    value: msg.payload, \n//    'fc': 4,              MODBUS FUNCTION CODE\n//    'unitid': 1,          MODBUS DEVICE ID\n//    'address': 0 ,        START ADDRESS OF THE REGISTER\n//    'quantity': 50        NUMBER OF REGISTERS TO READ\n//    'meterid': '1000',    ENECTIVA IMPORT ID\n//    'suit': '0',          ENECTIVA SUIT\n//    'protocol':'modbus',  PROTOCOL (modbus/mbus)\n//} \n// E.G. Eastron SDM630 has actual power on address 30053 (or 0x34) - therefore the address is 52\n\nmsg.payload = \n{ \n    'fc': 4, \n    'unitid': 2, \n    'address': 158, \n    'quantity': 2,\n    'value': { \n        'datatype': 'int32', \n        'meterid': 73130497,\n        'unit': \"m3\"\n    }\n} \n\n// msg.payload.value = { 'datatype': 'float', 'meterid': 73130497,};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "d02ac851.7967e8"
            ]
        ]
    },
    {
        "id": "3d141242.fccffe",
        "type": "inject",
        "z": "2b7a79b2.a62516",
        "name": "CRON 10 minutes",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "*/10 0-23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "63cc8aa8.e3dbf4",
                "12dd5077.ad1e9"
            ]
        ]
    },
    {
        "id": "12dd5077.ad1e9",
        "type": "function",
        "z": "2b7a79b2.a62516",
        "name": "Unit 2",
        "func": "// { \n//     'fc': 4,                     FUNCTION CODE\n//     'unitid': 2,                 UNIT ID (Address on the bus)\n//     'address': 23,               STARTING REGISTER\n//     'quantity': 2,               NUMBER OF REGISTERS TO READ\n//     'value': { \n//         'datatype': 'float',     DATA TYPE\n//         'meterid': 123,          METER ID USED IN ENECTIVA\n//     }\n// } \n// E.G. Eastron SDM630 has actual power on address 30053 (or 0x34) - therefore the address is 52\n\nmsg.payload = \n{ \n    'fc': 4, \n    'unitid': 2, \n    'address': 23, \n    'quantity': 2,\n    'value': { \n        'datatype': 'float', \n        'meterid': 123,\n    }\n} \n\n// msg.payload.value = { 'datatype': 'float', 'meterid': 73130497,};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 120,
        "wires": [
            [
                "d02ac851.7967e8"
            ]
        ]
    },
    {
        "id": "19b5ca73.2721d6",
        "type": "link out",
        "z": "2b7a79b2.a62516",
        "name": "",
        "links": [
            "e2cd2e55.14ed8"
        ],
        "x": 920,
        "y": 120,
        "wires": []
    },
    {
        "id": "4d4ae29.0472b1c",
        "type": "link in",
        "z": "f2965746.30b818",
        "name": "Modbus + MQTT",
        "links": [
            "6fe59db0.02b7d4"
        ],
        "x": 155,
        "y": 100,
        "wires": [
            [
                "39ba2d2.9d0cad2"
            ]
        ]
    },
    {
        "id": "dad3c0df.e472a",
        "type": "function",
        "z": "2b7a79b2.a62516",
        "name": "Unit 1",
        "func": "//{ \n//    value: msg.payload, \n//    'fc': 4,              MODBUS FUNCTION CODE\n//    'unitid': 1,          MODBUS DEVICE ID\n//    'address': 0 ,        START ADDRESS OF THE REGISTER\n//    'quantity': 50        NUMBER OF REGISTERS TO READ\n//    'meterid': '1000',    ENECTIVA IMPORT ID\n//    'suit': '0',          ENECTIVA SUIT\n//    'protocol':'modbus',  PROTOCOL (modbus/mbus)\n//} \n// E.G. Eastron SDM630 has actual power on address 30053 (or 0x34) - therefore the address is 52\n\nmsg.payload = \n{ \n    'fc': 3, \n    'unitid': 1, \n    'address': 8320, \n    'quantity': 2,\n    'value': { \n        'datatype': 'float', \n        'meterid': 18070292,\n    }\n} \n\n// msg.payload.value = { 'datatype': 'float', 'meterid': 73130497,};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 400,
        "wires": [
            [
                "c3b25da.98772a"
            ]
        ]
    },
    {
        "id": "370b02db.738b7e",
        "type": "inject",
        "z": "2b7a79b2.a62516",
        "name": "seconds",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "dad3c0df.e472a"
            ]
        ]
    },
    {
        "id": "6fe59db0.02b7d4",
        "type": "link out",
        "z": "2b7a79b2.a62516",
        "name": "",
        "links": [
            "4d4ae29.0472b1c"
        ],
        "x": 915,
        "y": 400,
        "wires": []
    },
    {
        "id": "c25c90e9.d53fa",
        "type": "comment",
        "z": "2b7a79b2.a62516",
        "name": "HTTP",
        "info": "",
        "x": 1050,
        "y": 120,
        "wires": []
    },
    {
        "id": "effea48.99c8c58",
        "type": "comment",
        "z": "2b7a79b2.a62516",
        "name": "MQTT",
        "info": "",
        "x": 1050,
        "y": 400,
        "wires": []
    },
    {
        "id": "7356f1bc.5ef2e",
        "type": "debug",
        "z": "2b7a79b2.a62516",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 950,
        "y": 160,
        "wires": []
    },
    {
        "id": "d02ac851.7967e8",
        "type": "function",
        "z": "2b7a79b2.a62516",
        "name": "pass",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 120,
        "wires": [
            [
                "19b5ca73.2721d6",
                "7356f1bc.5ef2e"
            ]
        ]
    },
    {
        "id": "c3b25da.98772a",
        "type": "function",
        "z": "2b7a79b2.a62516",
        "name": "pass",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 400,
        "wires": [
            [
                "e76bfe7b.11b0e",
                "6fe59db0.02b7d4"
            ]
        ]
    },
    {
        "id": "e76bfe7b.11b0e",
        "type": "debug",
        "z": "2b7a79b2.a62516",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 950,
        "y": 440,
        "wires": []
    },
    {
        "id": "8c7803e4.76711",
        "type": "comment",
        "z": "a1569260.60935",
        "name": "Reboot. USAGE: send anything to specified topic",
        "info": "",
        "x": 280,
        "y": 860,
        "wires": []
    },
    {
        "id": "a7f06be4.1eddd8",
        "type": "inject",
        "z": "a1569260.60935",
        "name": "Config after strartup",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "x": 200,
        "y": 60,
        "wires": [
            [
                "ac2384df.3a5e58"
            ]
        ]
    },
    {
        "id": "ac2384df.3a5e58",
        "type": "function",
        "z": "a1569260.60935",
        "name": "",
        "func": "global.set('cust_uuid','1e93b77a-64df-42b1-844d-55d1e124a548');",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "86be2e6f.93d76",
        "type": "comment",
        "z": "a1569260.60935",
        "name": "After startup config - UUID etc",
        "info": "",
        "x": 220,
        "y": 20,
        "wires": []
    },
    {
        "id": "e7aaec57.055a5",
        "type": "function",
        "z": "a1569260.60935",
        "name": "",
        "func": "if (msg.payload.toLowerCase() == 'reboot') {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 980,
        "wires": [
            [
                "3bc27321.fc83bc"
            ]
        ]
    }
]
